_build/
_build.*

.dune/
.dune.cache/
.dune.local/

.dune-workspace

*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.o
*.a
*.so
*.dll
*.exe
*.byte

*.annot

.merlin

.opam/
_opam/
.opam-switch
*.opam-switch

*~
*.swp
.DS_Store

